<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome to Confirm Page</h1>
    <h3>Data from Cookie</h3>
    <p>Name = {{k1}}</p>
     <p>City = {{k2}}</p>
     <p>Age = {{k3}}</p>
    <!--
    <h3>Data from Session</h3>
    {% if request.session %}
    <p>
        {% for k,v in request.session.items %}
            <strong>{{k}}</strong>=<strong>{{v}}</strong> <br>
        {% endfor %}
    </p>
    {% else %}
    <p>No info is avaialble</p>
    {% endif %}
    -->
</body>
</html>