<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>NOP</th>
      <th>COST</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
      <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.nop }}</td>
        <td>{{ book.cost }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if books.has_other_pages %}
  <ul class="pagination">
    {% if books.has_previous %}
      <li><a href="?page={{ books.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in books.paginator.page_range %}
      {% if books.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if books.has_next %}
      <li><a href="?page={{ books.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</body>
</html>
