<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        header
        {
            text-align:center;
            background-color:skyblue;
            color:white;
        }
        footer
        {
            text-align:center;
            background-color:pink;
            color:white;
        }
    </style>
</head>
<body>
    <header>
        <h1>Error Page</h1>
        <nav>
            <a href="{% url 'homel'%}">Home</a>
        </nav>
    </header>
    <hr>

    <div style="color:red;">
        {{mail}},  Emailid is not there in DB
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>
    <footer>
        <h3>Copyright@AshokIt</h3>
    </footer>
</body>
</html>