<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header style="border:2px solid silver;">
        <h1 style="text-align:center;">Welcome to Epass Website</h1>
</header>
<div style="border:2px solid red;height:400px;">
    {% block content %}
    {% endblock %}
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer style="border:2px solid skyblue;">
        <h3  style="text-align:center;">copyright@ashokitstudents</h3>
</footer>
</body>
</html>