        header
        {
            text-align:center;
            background-color:skyblue;
            color:red;
        }
        footer
        {
            text-align:center;
            background-color:pink;
            color:white;
        }