<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>
        *
        {

            margin:5px;
            padding:5px;
        }
    </style>
</head>
<body>
        <h1>Welcome to Home Page</h1>
        <form name="form1" action="{% url 'processl' %}" method="get">
           <table border="1px">
               <tr>
                   <td>
                            <label>Name:</label>
                   </td>
                   <td>
                        <input type="text" name="n1">
                   </td>
               </tr>
               <tr>
                    <td>
                         <label>Age:</label>
                   </td>
                   <td>
                         <input type="number" name="n2">
                   </td>
               </tr>
               <tr>
                   <td>
                        <input type="submit">
                   </td>
                   <td>
                        <input type="reset">
                   </td>
               </tr>
           </table>
        </form>
</body>
</html>